
body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(207, 103, 102, 0.42);
}
.title {
  text-align: center;
  width: 30vw;
  background-color: #031424;
  color: #4ac1f7;
  padding: 2vw 1vw;
  border-radius: 10px 10px 0 0;
  font-size: 2rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin-block: unset;
}
.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 30vw;
  padding: 2vw 1vw;
  background-color: #8EAEBD;
  border-radius: 0 0 10px 10px;
}
input {
  border: 1px solid rgb(172, 171, 171);
  border-radius: 10px;
  padding: 1vw 1vw;
  outline: none;
  margin: 5px;
}